*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    
}
/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
    opacity: 0.5;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}
/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar ul li{ 
    list-style: none;
    font-size: 2rem;
}
#navbar ul li a{
    color:white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: blueviolet;
    background-color: white;
}
/* Home Section */
/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 550px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('background.jpeg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}

#home h1{
    
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    border-width: 15px;
    color:red;
    text-decoration:line through;
    text-align: center;
    font-size: 5rem;
    font-family: 'Bree Serif', serif;
}

#home p{
    text-shadow:-1px -1px 0 #fff;
    
    color:yellow;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services{
    
    display: flex;
   /* background: url('backgroung1.jpeg');*/
   
   margin-left:2px;
   margin-right:2px;
   margin-top:10px;
   margin-bottom:105px;
}
#services::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('background1.jpeg') no-repeat center center/cover;
    

}
#services .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 30px;
    border-radius: 28px;
    background: white;
    margin-bottom: 20px;
}

#services .box img{ 
   height: 160px;
   margin: auto;
   display: block;
   
}

#services .box p{
    font-family: 'Bree Serif', serif;

} 
/* Clients Section */


#client-section::before{
 content: "";
 position: absolute;
 background: url('background2.jpeg');
 width: 100%;
 height: 100%;
 z-index: -1;
 opacity: 0.3;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-item{
    padding: 34px;
}

#clients img{
    height: 124px;
}


/* Contact Section */

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
    
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
    
}
.form-group{
    margin:15px;  
}
#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}




/* Utility Classes */
.h-primary{
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary{
    font-family: 'Bree Serif', serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: green;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
    float:center;
}

.center{
    text-align: center;
}
footer {
    background-color: rgb(247, 194, 194);
    padding: 50px;

}

footer .pages {
    text-align: center;
}

footer .pages h3 {
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: blueviolet;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .pages a:hover {
    color: white;

}

footer .doc {
    text-align: center;
}

footer .doc h3 {
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

footer .doc a {
    text-decoration: none;
    margin: 10px;
    color: blueviolet;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .doc a:hover {
    color: white;
}

footer .social {
    text-align: center;
}

footer .social h3 {
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

footer .social a {
    text-decoration: none;
    margin: 10px;
    color: rgb(60, 30, 94);
    font-size: 25 px;
    font-family: cosmic, sans-serif;
}

footer .social a:hover {
    color: white;
}

footer .contact {
    text-align: center;
}


footer .contact h3 {
    color: black;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

footer .contact a {
    text-decoration: none;
    margin: 10px;
    color: rgb(60, 30, 94);
    font-size: 30px;

}

footer .contact a:hover {
    color: white;
}


